<!-- <!DOCTYPE html>

    <section class ="principal">
        <div align="right" class="centrotexto" >
        <p style="font-family: cursive ; font-size: 250%; color: black; "   align="right">
            <img src="../../assets/img/logo.png" alt="" width="250px" height="250px"  class="derecha">
        
            <br>

            UN SISTEMA CREADO PARA TU 
            <br>
            SEGURIDAD Y COMODIDAD
        
        </p>
    </div>
    </section>

    <section class = "ini">
        <h2 class="title">Mision</h2>       
        <p class="txt"> 
            <img src="../../assets/img/mascotas_uno.jpg" alt="" width="100px" height="100px" align="left" class="izquierda">
            
            La misión de nuestro sistema es poder facilitar a nuestros 
            usuarios la búsqueda de especímenes para un acoyuntamiento seguro.
            y darles una mayor fiabilidad al momento de encontrar una pareja idónea para su animal.
            
        </p>

    </section>

    <section class="sau">
        <h2 class="title">Vision</h2>
        <p class="txt">
        <img src="../../assets/img/mascotas_2.jpg" alt="" width="100px" height="100px" align="right" class="derecha">
        
        Nuestra visión es poder crecer para que nuestro sistema llegue a más lugares del país y del mundo 
            y asi ser un sistema que genere confiabilidad y seguridad a nuestros usuarios</p>
        
        

    </section>

    <section class="nosotros">

        <h2 class="title">Nosotros</h2>

        <p class="txt">Somos un sistema que se encarga de facilitarte la búsqueda de un espécimen para tu mascota u animal que tengas con la seguridad de encontrar rápido y fácilmente.
            Nos encargamos de darte un catálogo en nuestra página para que busques y encuentre el animal idóneo para ti.
            Sin Mucho esfuerzo y Con una gran Variedad.
            
        </p>

        <div class="box-container">

            <div class="box">
                <i class="fas fa-exclamation-triangle"></i>
                <h3>Ten Cuidado</h3>
                <p>No confies en usuarios que no muestren Informacion necesaria</p>
            </div>
            <div class="box">
                <i class="fas fa-dog"></i>
                <h3>Cuida Tus Mascotas</h3>
                <p>cuida tu mascota, alimentalos bien y llevalos al veterinario</p>
            </div>
            <div class="box">
                <i class="far fa-address-card"></i>
                <h3>Cuida Tu Informacion</h3>
                <p>Nunca des mas informacion de la necesaria</p>
            </div>

        </div>

        <a href="https://www.youtube.com/watch?v=o920FMa89Ts" class="btn">Saber mas</a>

    </section>

    <section class="final">
        <h2 class="title">Contacto</h2>
        <p class="txt">
            <img src="../../assets/img/WPP.jpeg" alt="" width="200px" height="200px" align="right" >

            <br>
            +593 0995650977 
            <br>
            
            
        </p>
        <a href="https://goo.gl/maps/miQVwCje8QfLiFZJ7" class="btn">Encuentranos</a>
        
        
    </section> -->





    <!--  Home-->

<!DOCTYPE html>


<header class="he">

    <div class="wave" style="height: 150px; overflow: hidden">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff"></path>
        </svg>
    </div>
</header>
<section class="contenedor sobre-nosotros">
    <h2 class="titulo">NUESTROS IDEALES</h2>
    <div class="contenedor-sobre-nosotros">
        <img src="../../assets/img/logo.png" width="350" height="450" alt="" calss="imagen-about-us" />
        <div class="contenido-textos">
            <h3><span>1 </span>MISIÓN</h3>
            <p>
                La misión de nuestro sistema es poder facilitar a nuestros
                usuarios la búsqueda de especímenes para un acoyuntamiento seguro.
                y darles una mayor fiabilidad al momento de encontrar una pareja idónea para su animal.
            </p>
            <h3><span>2 </span>VISIÓN</h3>
            <p>
                Nuestra visión es poder crecer para que nuestro sistema llegue a más lugares del país y del mundo
                y asi ser un sistema que genere confiabilidad y seguridad a nuestros usuarios
            </p>
            <h3><span>3 </span>NOSOTROS</h3>
            <p>
                Somos un grupo de estudiantes del Instituto Superior Tecnológico del Azuay que ha desarrollado un sistema que se encarga de facilitarte la búsqueda de un espécimen para tu mascota u animal
                que tengas con la seguridad de encontrar rápido y fácilmente.
                Nos encargamos de darte un catálogo en nuestra página para que busques y encuentre el animal idóneo para
                ti.
                Sin Mucho esfuerzo y Con una gran Variedad.
            </p>
        </div>
    </div>
</section>

<section class="nosotros">

    <h2 class="title">PRECAUCIÓN</h2>
    <div class="box-container">

        <div class="box">
            <i class="fas fa-exclamation-triangle"></i>
            <h3>Ten Cuidado</h3>
            <p>No confies en usuarios que no muestren información necesaria.</p>
        </div>
        <div class="box">
            <i class="fas fa-dog"></i>
            <h3>Cuida Tus Mascotas</h3>
            <p>Cuida tu mascota, alimentalos bien y llevalos al veterinario.</p>
        </div>
        <div class="box">
            <i class="far fa-address-card"></i>
            <h3>Cuida Tu Información</h3>
            <p>Nunca des mas información de la necesaria.</p>
        </div>

    </div>

    <a href="https://www.youtube.com/watch?v=o920FMa89Ts" class="btn">Saber mas</a>

</section>

<section class="final">
    <h2 class="title">Contacto</h2>
    <p class="txt">
        <img src="../../assets/img/WPP.jpeg" alt="" width="200px" height="200px" align="right">

        <br>
        +593 0995650977
        <br>


    </p>
    <a href="https://goo.gl/maps/miQVwCje8QfLiFZJ7" class="btn">Encuentranos</a>


</section> 