<!-- 
<div class="container">
  <div class="" style="text-align: center;">
    <img src="../../assets/img/logo.png" alt="" width="200px" height="200px">
  </div>
  <table class="table caption-top">
    
      <caption>List of users</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
      
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th scope="col">Rol</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of data">
          <th scope="row">{{data.id_persona}}</th>
          <td>{{data.genero}}</td>
          <td>{{data.correo}}</td>
          <td>{{data.celular}}</td>
        </tr>
        
      </tbody>
    </table>
  
    <!DOCTYPE html>
  <html>
    <body>
      <input type="text" id="num1">
      <input type="text" id="num2">
      <button onclick="sumar()">Sumar</button>
  
      <div class="result" style="color: black; font-size: 26px; text-align: center;">
       El resultado de la suma   es: <p id="resultado"></p>
      </div>
      
    </body>
  </html>
</div>


<div class="container">

  <h5>Addons</h5>
  <div class="grid p-fluid">
      <div class="col-12 md:col-4">
          <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input type="text" pInputText placeholder="Username">         
          </div>
      </div>
      
      <div class="col-12 md:col-4">
          <div class="p-inputgroup">
              <span class="p-inputgroup-addon">$</span>
              <input type="text" pInputText placeholder="Price">   
              <span class="p-inputgroup-addon">.00</span>      
          </div>
      </div>
              
      <div class="col-12 md:col-4">
          <div class="p-inputgroup">
              <span class="p-inputgroup-addon">www</span>
              <input type="text" pInputText placeholder="Website">      
          </div>
      </div>
  </div>
  
  
</div> -->






<header class="he">

  <div class="wave" style="height: 150px; overflow: hidden">
      <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%">
          <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
              style="stroke: none; fill: #fff"></path>
      </svg>
  </div>
</header>
<section class="contenedor sobre-nosotros">
  <h2 class="titulo">NUESTROS IDEALES</h2>
  <div class="contenedor-sobre-nosotros">
    <img
      src="../../assets/img/logo.png" width="350" height="450"
      alt=""
      calss="imagen-about-us"
    />
    <div class="contenido-textos">
      <h3><span>1 </span>MISIÓN</h3>
      <p>
          La misión de nuestro sistema es poder facilitar a nuestros
          usuarios la búsqueda de especímenes para un acoyuntamiento seguro,
          y darles una mayor fiabilidad al momento de encontrar una pareja idónea para su animal.
      </p>
      <h3><span>2 </span>VISIÓN</h3>
      <p>
          Nuestra visión es poder crecer para que nuestro sistema llegue a más lugares del país y del mundo
          y así ser un sistema que genere confiabilidad y seguridad a nuestros usuarios
      </p>
      <h3><span>3 </span>NOSOTROS</h3>
      <p>
          Somos un grupo de estudiantes del Instituto Superior Tecnológico del Azuay que a desarrollado un sistema que se encarga de facilitarte la búsqueda de un espécimen para tu mascota u animal
          que tengas con la seguridad de encontrar rápido y fácilmente.
          Nos encargamos de darte un catálogo en nuestra página para que busques y encuentre el animal idóneo para ti.
          Sin Mucho esfuerzo y Con una gran Variedad.
      </p>
    </div>
  </div>
</section>

<section class="Nosotros">

  <h2 class="title">PRECAUCIÓN</h2>
  <div class="box-container">

      <div class="box">
          <i class="fas fa-exclamation-triangle"></i>
          <h3>Ten Cuidado</h3>
          <p>No confies en usuarios que no muestren Información necesaria</p>
      </div>
      <div class="box">
          <i class="fas fa-dog"></i>
          <h3>Cuida Tus Mascotas</h3>
          <p>Cuida tu mascota, alimentalos bien y llevalos al veterinario</p>
      </div>
      <div class="box">
          <i class="far fa-address-card"></i>
          <h3>Cuida Tu Información</h3>
          <p>Nunca des más información de la necesaria</p>
      </div>

  </div>

  <a href="https://www.youtube.com/watch?v=o920FMa89Ts" class="btn">Saber más</a>

</section>

<section class="final">
  <h2 class="title">Contacto</h2>
  <p class="txt">
      <img src="../../assets/img/WPP.jpeg" alt="" width="200px" height="200px" align="right">

      <br>
      +593 0995650977
      <br>


  </p>
  <a href="https://goo.gl/maps/miQVwCje8QfLiFZJ7" class="btn">Encuentranos</a>


</section>